<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserAccount</title>
    <style type="text/css">
        body{
              background:#6a777a;
        }
    </style>

</head>
<body>
<div th:insert="pages/fragments/header.html :: header"></div>
<div>
    <div class="row justify-content-center" >
        <div class="col" style="background: #f5f5f5" ></div>
        <div class="col-2" style="text-align: left; height: auto; border-right: solid #6a777a 1px">
            <ul   style=" margin-top: 40px">
                <p><b>Category</b></p>
                <li>
                    <a th:href="@{/user/userAccount/getTaskCategory/{categoryTask}  (categoryTask = 'ELECTRICIAN')}">
                        Electrician
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskCategory/{categoryTask}  (categoryTask = 'PLUMBING')}">
                        Plumbing
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskCategory/{categoryTask}  (categoryTask = 'FURNITURE')}">
                        Furniture
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskCategory/{categoryTask}  (categoryTask = 'MOVING')}">
                        Moving
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskCategory/{categoryTask}  (categoryTask = 'CLEANING')}">
                        Cleaning
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskCategory/{categoryTask}  (categoryTask = 'OTHER')}">
                        Other
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTask}">
                        All
                    </a>
            </ul>
            <ul style=" margin-top: 30px">
                <p><b>Status</b></p>
                <li>
                    <a th:href="@{/user/userAccount/getTaskStatus/{statusTask}  (statusTask = 'ACTIVE')}">
                        Active
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskStatus/{statusTask}  (statusTask = 'WORK')}">
                        Work
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskStatus/{statusTask}  (statusTask = 'COMPLETED')}">
                        Completed
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTaskStatus/{statusTask}  (statusTask = 'REOPEN')}">
                        Reopen
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/userAccount/getTask}">
                        All
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6" style="height: auto">
            <div class="row row-cols-1"  >
                <div class="col" th:each=" taskDTO : ${listTask}"  style=" margin-top: 30px">
                    <div class="card text-dark bg-light mb-3"  style="max-width: 600px; background-color: #fafcfa; border-radius: 6px; margin-left: 75px; margin-top: 20px">
                           <div class="card-header" >
                               <strong class="me-auto" ><span>status: </span><span th:text="${taskDTO.task.status.name()}"></span></strong>
                               <small class="text-muted" style="float: right" ><span>created time: </span><span th:text="${taskDTO.createdTime}"></span></small>
                           </div>

                           <div class="card-body" >
                               <div th:if="${taskDTO.task.express}">
                                   <a href="#" class="btn btn btn-warning btn-sm" role="button" style=" border-radius: 50px ">Express</a>
                               </div>
                                   <a style="float:right;" th:if="${taskDTO.task.status.name() == 'ACTIVE' }" th:href="@{/user/userAccount/updateTaskExpress/{id} (id=${taskDTO.task.id})}" class="card-link">
                                       <img style="height: 20px; width: 20px" src="/images/edit.jpg">
                                   </a>
                           </div>
                           <ul class="list-group list-group-flush">
                                <li class="list-group-item" ><span>category: </span><span th:text="${taskDTO.task.category.name}"></span>
                                    <a style="float:right" th:if="${taskDTO.task.status.name() == 'ACTIVE' }" th:href="@{/user/userAccount/updateTaskCategory/{id} (id=${taskDTO.task.id})}" class="card-link">
                                        <img style="height: 20px; width: 20px" src="/images/edit.jpg">
                                    </a>
                                </li>
                                <li class="list-group-item" th:if="${taskDTO.userCardDTO.id != 0}"><span>executor: </span>
                                        <a class="card-link" th:href="@{/userInfo/getUserById/{id} (id=${taskDTO.userCardDTO.id})}">
                                            <span th:text="${taskDTO.userCardDTO.username}"></span>
                                        </a>
                                        <b style="margin-left:5px" ><span th:text="${taskDTO.userCardDTO.rating.score}"></span></b><img src="/images/starNew.png" style="max-height: 16px; margin-bottom: 3px" alt="">
                                </li>
                           </ul>
                           <div class="card-body">
                                 <p class="card-text"><span>task topic: </span><span th:text="${taskDTO.task.name}"></span>
                                     <a style="float:right" th:if="${taskDTO.task.status.name() == 'ACTIVE' }" th:href="@{/user/userAccount/updateTaskDescription/{id} (id=${taskDTO.task.id})}" class="card-link">
                                         <img style="height: 20px; width: 20px" src="/images/edit.jpg">
                                     </a>
                                 </p>
                                 <p class="card-text"><span>description: </span><span th:text="${taskDTO.task.description}"></span></p>
                           </div>
                           <ul class="list-group list-group-flush">
                                 <li class="list-group-item"><span>telephone: +</span><span th:text="${taskDTO.task.telephoneTask.number}"></span>
                                     <a style="float:right" th:if="${taskDTO.task.status.name() == 'ACTIVE' }" th:href="@{/user/userAccount/updateTaskTelephone/{id} (id=${taskDTO.task.id})}" class="card-link">
                                         <img style="height: 20px; width: 20px" src="/images/edit.jpg">
                                     </a>
                                 </li>
                                 <li class="list-group-item"><span>address: </span><span th:text="${taskDTO.task.addressTask.city }"></span>
                                                                                   <span th:text="${taskDTO.task.addressTask.street }"></span>
                                                                                   <span th:text="${taskDTO.task.addressTask.house }"></span>
                                                                                   <span th:text="${taskDTO.task.addressTask.apartment }"></span>
                                     <a style="float:right" th:if="${taskDTO.task.status.name() == 'ACTIVE' }" th:href="@{/user/userAccount/updateTaskAddress/{id} (id=${taskDTO.task.id})}" class="card-link">
                                         <img style="height: 20px; width: 20px" src="/images/edit.jpg">
                                     </a>
                                 </li>
                                 <li class="list-group-item" ><span>price: </span><span th:text="${taskDTO.task.price}"></span><span> BYN</span>
                                     <a style="float:right" th:if="${taskDTO.task.status.name() == 'ACTIVE' }" th:href="@{/user/userAccount/updateTaskPrice/{id} (id=${taskDTO.task.id})}" class="card-link">
                                         <img style="height: 20px; width: 20px" src="/images/edit.jpg">
                                     </a>
                                 </li>
                           </ul>
                           <div class="card-footer  border-light d-grid gap-3 d-md-flex justify-content-md-end">
                               <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                   <a  th:if="${taskDTO.task.status.name() == 'DONE' }"   th:href="@{/user/userAccount/closeTask/{id} (id=${taskDTO.task.id})}" class="btn btn-outline-success btn-sm " type="button" style="margin-right: 20px" >
                                       Close task
                                   </a>
                                   <a  th:if="${taskDTO.task.status.name() == 'ACTIVE' }" th:href="@{/user/userAccount/deleteTask/{id} (id=${taskDTO.task.id})}" class="btn btn-outline-secondary btn-sm" role="button" style="margin-right: 20px">
                                       Delete
                                   </a>
                               </div>
                           </div>
                    </div>
                </div>
            </div>
            <div style="text-align: left; margin-left: 75px; margin-top: 40px " >
                <a th:href="@{/user/userAccount/createTask}"  style="margin-bottom: 60px" class="btn btn-outline-success" role="button" >Create task</a>
            </div>
        </div>
       <div class="col" style="background: #f5f5f5"></div>
    </div>
</div>
</body>
</html>